<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/header')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ab
        voluptatibus iusto quae ducimus voluptate enim porro pariatur dolore ex.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ab
        voluptatibus iusto quae ducimus voluptate enim porro pariatur dolore ex.
      </p>
    </section>
    <%-include('./inc/footer')%>
  </body>
</html>
