<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/header')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <h1 style="margin: auto">Login</h1>
      <form action="/admin/add" method="post">
        <input type="text" name="title" placeholder="Title" required /> <br />
        <textarea
          name="short"
          placeholder="Explain"
          rows="4"
          cols="50"
          maxlength="200"
          required
        ></textarea>
        <input type="text" name="long" placeholder="Content" required />

        <input type="submit" value="Save" />
      </form>
    </section>
    <%-include('./inc/footer')%>
  </body>
</html>
