* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 3px solid black;
  background-color: orange;
}

.navbar {
  border-top: 3px solid black;
  background-color: orange;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin: 40px auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 40px auto;
}

form input {
  margin-top: 10px;
  padding: 5px 10px;
}
